h1{
    padding: 5px; 
    font-size: 20px;
    text-align: center;   
    background-color:rosybrown;
    word-spacing: 5px;
    padding: 10px 20px;
      }
      img{
        width: 100%;
        height: 350px;
        }